# AirbyteLib Interactive Demo

Install AirbyteLib from parent directory:

```bash
cd airbyte-lib/examples
poetry install
```

In [1]:
# Import AirbyteLib modules
import airbyte_lib as ab

from airbyte_lib import caches
from airbyte_lib.caches import base

In [2]:
# Declare some constants

base.DEBUG_MODE = False  # Less verbose logging

VOLUME_FACTOR = 10_000      # 10K rows, approx. 5 sec. runtime
# VOLUME_FACTOR = 100_000     # 100K rows, approx. 30 sec. runtime
# VOLUME_FACTOR = 1_000_000   # 1M rows, approx. 4 min. runtime

# Declare PIP_URL from PyPi or local path:
# PIP_URL = "airbyte-source-faker"                                # From PyPi
# PIP_URL = "../../airbyte-integrations/connectors/source-faker"  # From local path

# Or install from a git branch:
PIP_URL = "git+https://github.com/airbytehq/airbyte.git@aj/airbyte-lib/example-notebook-with-source-faker#egg=source-faker&subdirectory=airbyte-integrations/connectors/source-faker"

Get the source connector:

In [3]:
source = ab.get_connector(
    "source-faker",
    pip_url=PIP_URL,
    install_if_missing=True,
    config={
        "count": VOLUME_FACTOR,  # number of users to generate data for
        "seed": 123,
    },
)
source.check()

In [4]:
# Create a default local cache:
cache = ab.new_local_cache(source_catalog=source.configured_catalog)

# Read all the records to a new local cache
sync_result = source.read_all(cache=cache)

/Users/ajsteers/Source/airbyte/airbyte-lib/examples/.venv/lib/python3.10/site-packages/duckdb_engine/__init__.py:179: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
/Users/ajsteers/Source/airbyte/airbyte-lib/examples/.venv/lib/python3.10/site-packages/duckdb_engine/__init__.py:179: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
/Users/ajsteers/Source/airbyte/airbyte-lib/examples/.venv/lib/python3.10/site-packages/duckdb_engine/__init__.py:179: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(

In [5]:
# Show the data ðŸš€
sync_result["users"].to_pandas()

,id,created_at,updated_at,name,title,age,email,telephone,gender,language,academic_degree,nationality,occupation,height,blood_type,weight,address
0,1,2018-01-19 19:29:15,2024-01-08 10:56:50,Shizue,Master,24,scottish1889+1@duck.com,(721) 240-4249,Male,Hiri Motu,Bachelor,Dominican,Laundry Worker,1.70,AB+,65,"{'city': Palmetto Bay, 'country_code': VC, 'po..."
1,2,2005-08-29 15:14:10,2024-01-08 10:56:50,Travis,Mr.,42,hugh1904+2@duck.com,(771) 883-4728,Male,Kannada,PhD,Argentinian,Technical Clerk,1.84,B+,69,"{'city': Bremerton, 'country_code': IO, 'posta..."
2,3,2004-11-16 02:47:43,2024-01-08 10:56:50,Joan,DPhil,49,excessive2072+3@yandex.com,807.378.6843,Female,Japanese,PhD,Japanese,Aerobic Instructor,1.99,Aâˆ’,72,"{'city': Montebello, 'country_code': HR, 'post..."
3,4,2017-03-12 06:48:31,2024-01-08 10:56:50,Enoch,M.A.,62,tube2016+4@outlook.com,+1-(698)-001-0179,Fluid,Malayalam,Bachelor,Greek,Legal Executive,1.85,Aâˆ’,55,"{'city': Belle Glade, 'country_code': NI, 'pos..."
4,5,2001-07-14 08:30:31,2024-01-08 10:56:50,Shelby,Sir,61,aging1883+5@outlook.com,1-694-715-1972,Male,Gagauz,Bachelor,Portuguese,Sales Assistant,1.51,Oâˆ’,68,"{'city': Lincoln, 'country_code': TZ, 'postal_..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,2005-06-27 08:16:12,2024-01-08 10:56:50,Bobby,M.Sc.Tech.,39,leasing1979+9996@live.com,(338) 423-2187,Other,Thai,Bachelor,Egyptian,Voluntary Worker,1.88,ABâˆ’,48,"{'city': Rome, 'country_code': NF, 'postal_cod..."
9996,9997,2020-11-24 20:30:14,2024-01-08 10:56:50,Marco,Master,64,consistency1915+9997@example.org,(412) 251-4965,Female,Lao,PhD,Cameroonian,Stocktaker,1.73,O+,50,"{'city': Kingsport, 'country_code': MT, 'posta..."
9997,9998,2006-07-12 23:26:15,2024-01-08 10:56:50,Merilyn,B.E.,38,naked1895+9998@outlook.com,+1-(618)-577-6068,Other,Northern Sotho,Master,Chilean,Garden Designer,1.53,Oâˆ’,68,"{'city': Manhattan, 'country_code': MT, 'posta..."
9998,9999,2023-10-30 19:19:07,2024-01-08 10:56:50,Jinny,Ms.,23,wait1900+9999@gmail.com,1-721-358-8452,Male,Irish Gaelic,Bachelor,Romanian,Purchasing Assistant,1.81,Aâˆ’,52,"{'city': Venice, 'country_code': US, 'postal_c..."
9999,10000,2014-03-16 17:53:22,2024-01-08 10:56:50,Latrisha,B.Sc,38,touch1970+10000@protonmail.com,(814) 119-6296,Female,Amharic,Master,Argentinian,Tea Blender,1.62,Oâˆ’,62,"{'city': Burton, 'country_code': SS, 'postal_c..."

## Sync with a user-defined cache

In [6]:
# Create a local DuckDB SQL cache:
cache = caches.DuckDBCache(
    config=caches.DuckDBCacheConfig(
        db_path="./.output/cache.db",
    ),
    source_catalog=source.configured_catalog,
)

In [7]:
# Read all the records to an internal cache
sync_result = source.read_all(cache=cache)
# Show the records
sync_result["users"].to_pandas()

/Users/ajsteers/Source/airbyte/airbyte-lib/examples/.venv/lib/python3.10/site-packages/duckdb_engine/__init__.py:179: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
/Users/ajsteers/Source/airbyte/airbyte-lib/examples/.venv/lib/python3.10/site-packages/duckdb_engine/__init__.py:179: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
/Users/ajsteers/Source/airbyte/airbyte-lib/examples/.venv/lib/python3.10/site-packages/duckdb_engine/__init__.py:179: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(

,id,created_at,updated_at,name,title,age,email,telephone,gender,language,academic_degree,nationality,occupation,height,blood_type,weight,address
0,1,2018-01-19 19:29:15,2024-01-08 09:12:54,Shizue,Master,24,scottish1889+1@duck.com,(721) 240-4249,Male,Hiri Motu,Bachelor,Dominican,Laundry Worker,1.70,AB+,65,"{'city': Palmetto Bay, 'country_code': VC, 'po..."
1,2,2005-08-29 15:14:10,2024-01-08 09:12:54,Travis,Mr.,42,hugh1904+2@duck.com,(771) 883-4728,Male,Kannada,PhD,Argentinian,Technical Clerk,1.84,B+,69,"{'city': Bremerton, 'country_code': IO, 'posta..."
2,3,2004-11-16 02:47:43,2024-01-08 09:12:54,Joan,DPhil,49,excessive2072+3@yandex.com,807.378.6843,Female,Japanese,PhD,Japanese,Aerobic Instructor,1.99,Aâˆ’,72,"{'city': Montebello, 'country_code': HR, 'post..."
3,4,2017-03-12 06:48:31,2024-01-08 09:12:54,Enoch,M.A.,62,tube2016+4@outlook.com,+1-(698)-001-0179,Fluid,Malayalam,Bachelor,Greek,Legal Executive,1.85,Aâˆ’,55,"{'city': Belle Glade, 'country_code': NI, 'pos..."
4,5,2001-07-14 08:30:31,2024-01-08 09:12:54,Shelby,Sir,61,aging1883+5@outlook.com,1-694-715-1972,Male,Gagauz,Bachelor,Portuguese,Sales Assistant,1.51,Oâˆ’,68,"{'city': Lincoln, 'country_code': TZ, 'postal_..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,9996,2022-11-23 14:36:37,2024-01-08 10:58:08,Jackson,Mrs.,35,slide1866+9996@gmail.com,918-042-8637,Female,Bengali,Master,Chinese,Master Mariner,1.73,A+,58,"{'city': Plant City, 'country_code': MS, 'post..."
39996,9997,2021-08-27 12:58:49,2024-01-08 10:58:08,King,Mr.,16,karaoke1927+9997@protonmail.com,1-401-712-0287,Other,Dzongkha,Master,Russian,Operator,1.65,Oâˆ’,38,"{'city': Cookeville, 'country_code': SI, 'post..."
39997,9998,2022-05-24 15:51:39,2024-01-08 10:58:08,Peg,Ms.,62,carried1898+9998@protonmail.com,498.829.5967,Male,Punjabi,Bachelor,Brazilian,Safety Officer,1.78,A+,71,"{'city': Savannah, 'country_code': GQ, 'postal..."
39998,9999,2018-12-13 14:45:15,2024-01-08 10:58:08,Mitchell,MSc,23,gaming2033+9999@live.com,933-169-6373,Other,Georgian,PhD,Cambodian,Parts Man,1.72,B+,66,"{'city': Laredo, 'country_code': IQ, 'postal_c..."
39999,10000,2023-01-08 13:08:45,2024-01-08 10:58:08,Toby,Mr.,27,sheffield1970+10000@live.com,097-223-4485,Fluid,West Frisian,Master,German,Telex Operator,1.72,B+,85,"{'city': Bangor, 'country_code': NP, 'postal_c..."

## (End of Working Demo)

In [ ]:
raise Exception("Stop notebook execution here. Below is pseudocode.")

## Read Data Directly (unbuffered, uncached)

In [ ]:
# Read all records live from source
for user in source.get_stream_records("users"):
    print(f"Found user: {user['first_name']}")

## Sync in Cloud (Not built yet)

The below is pseudocode. Not yet built.

In [ ]:
cloud_connection = ab.get_cloud_connection(
    workspace_id="...",
    connection_id="...",
    auth_token="...",
)
last_sync_result = cloud_connection.get_latest_result()

In [ ]:
if not last_sync_result.success:
    last_sync_result.connection.run()

# Get just new records
new_users = sync_result.get_new_data("users")
# Get all records
all_users = sync_result.get_all_data("users")

new_users.to_pandas()

_(End of demo.)_